@model CarritoCompras.Models.CarritoItem

@{
    ViewData["Title"] = "Borrar Item";
}

<h1>Borrar</h1>

<h3>Está seguro en borrar el Item?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.PrecioVigente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.PrecioVigente)
        </dd>
        <dt class="col-sm-2">
            Subtotal
        </dt>
        <dd class="col-sm-10">
            @{var x = Model.Cantidad * Model.Producto.PrecioVigente; }
            @x.ToString()
        </dd>
    </dl>    

    <form asp-action="RemoveItem">
        <input type="hidden" asp-for="CarritoItemId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="CarritoCliente" asp-route-id="@Model.Carrito.ClienteId">Volver</a>
    </form>
</div>