@model IEnumerable<CarritoCompras.Models.Producto>

@{
    ViewData["Title"] = "Seleccione un Producto";
}

<h1>Seleccione un Producto</h1>
<h2>Categoría: @Model.First().Categoria.Nombre</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVigente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.PrecioVigente)
            </td>
            <td>
                <img class="img-thumbnail" src="/images/@Html.DisplayFor(modelItem => item.Foto)"  width="200" >
            </td>
            <td>                
                <a asp-action="Agregar" asp-route-id="@item.ProductoId">Agregar</a> 
            </td>
        </tr>
}
    </tbody>
</table>
