@model IEnumerable<CarritoCompras.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrito.CarritoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompraId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CompraId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CompraId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
